{% load bootstrap3 %}

{% bootstrap_css %}
{% bootstrap_javascript %}


{% bootstrap_messages %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Crum & Forster API Demo</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">API Access<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="yelp_search">Google API</a></li>
            <li><a href="#">Smarty Streets API</a></li>
            <li><a href="#">Pipeline</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Diagnostics</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="page-header" style="padding:.2cm">
  <img src="https://s3-media2.fl.yelpcdn.com/assets/srv0/styleguide/1ea40efd80f5/assets/img/brand_guidelines/yelp_fullcolor.png">
</div>


<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <a class="btn btn-default" href="location" role="button">Search by City, State</a>
  </div>
  <div class="btn-group" role="group">
    <a class="btn btn-default" href="lat_long" role="button">Search by Latitude, Longitude</a>
  </div>
  <div class="btn-group" role="group">
    <a class="btn btn-default" href="phone" role="button">Search by Phone Number</a>
  </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container">
    <div class=navbar-right>
    <h2>Galil Gertner</h2>
    </div>
  </div>
</nav>
